<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>{{hero.name}}<button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
  </li>
</ul>
<div *ngIf="realHero" class="realHero">
  <h2>Finally I found {{realHero.name}} -my REAL hero</h2>
  <my-hero [hero]="realHero"></my-hero>
  <button (click)="gotoDetail()">Details of my hero</button>
</div>

<div class="error" *ngIf="error">{{error}}</div>
<br>
<button (click)="addHero()">Add New Hero</button>
<button (click)="setNewHero()">Set new real hero</button>

<div *ngIf="addingHero">
  <my-hero-detail (close)="close($event)" [hero]="selectedHero"></my-hero-detail>
</div>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name||uppercase}} is only my hero.</h2>
  <button (click)="gotoDetail()">Details</button>
</div>