<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div><label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name">
    <span *ngIf="hero && hero.name && hero.name.length<3" class="error">Wymagane 3 znaki!</span></div>
  <div>
    <label>age: </label>
    <input [(ngModel)]="hero.age" type="number">
  </div>

<button (click)="goBack()">Back</button>

<button *ngIf="hero && hero.name && (hero.name.length>2 && hero.age>0)" (click)="save()">Save</button>

</div>
