<div class="grid grid-pad" *ngIf="myHero">
    My hero {{myHero.name}} is better than
  <div *ngFor="let hero of smallHeroes" class="real-heroes">
      <div *ngIf="hero.id!==myHero.id">
      {{hero.name}}
      </div>
    </div>
    <button (click)="goBack()">Back</button>
</div>